<!DOCTYPE html>
<head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
{% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-light" role="alert">
    {{ message[1] }}
</div>
{% endfor %}

<form action="/search" method="post">
    <h2>地區搜尋</h2>
    <p></p>
    <label>縣市:</label>
    <input type="textbox" name="county">
    <label>鄉鎮市區:</label>
    <input type="textbox" name="township">
    <!--按鈕要加上name，方便後端判斷-->
    <input type="submit" name="searchArea" value="Search">

    <h2>特殊疾病搜尋</h2>
    <p></p>
    <label>特殊疾病:</label>
    <input type="textbox" name="disease">
    <input type="submit" name="searchDisease" value="Search">

    <h2>醫院層級搜尋</h2>
    <p></p>
    <label>醫院層級:</label>
    <select name="type">
        <option selected>請選擇層級</option>
        <option value="1">醫學中心</option>
        <option value="2">區域醫院</option>
        <option value="3">地區醫院</option>
        <option value="4">診所</option>
    </select>
    <input type="submit" name="searchType" value="Search">

    <h2>分類主題搜尋</h2>
    <p></p>
    <label>分類主題:</label>
    <input type="textbox" name="keyword1">
    <input type="textbox" name="keyword2">
    <input type="textbox" name="keyword3">
    </select>
    <input type="submit" name="searchCategory" value="Search">

    <h2></h2>
    <table width="100%" border="1">
        <tr>
            {% for c in column %}
            <th>{{ c }}</th>
            {% endfor %}
        </tr>

        {% for a in context %}
        <tr>
            {% for i in range(0,long)%}
            <td>{{ a[column[i]] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
</form>
</body>