<!DOCTYPE html>
<head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    {% block scripts %}
    <script language="javascript" type="text/javascript">
    // 判斷5個以上不能選
    var maxChoices = 5;
    var flag = 0;
    function onCheckBox(checkbox) {
            var items = document.getElementsByName("item"); // 如果要id，改ById("")
            if (checkbox.checked) {
                flag++;
            }
            else {
                flag--;
            }

            if (flag < maxChoices) {
                for (var i = 0; i < items.length; i++) {
                    if (!items[i].checked) {
                        items[i].disabled = false;
                    }
                }
            }
            else {
                for (var i = 0; i < items.length; i++) {
                    if (!items[i].checked) {
                        items[i].disabled = true;
                    }
                }
            }
        }
    // 按提交出現的訊息
        function onSubmitVote() {
            var items = document.getElementsByName("item");
            var choices = 0;
            for (var j = 0; j < items.length; j++) {
                if (items[j].checked) {
                    choices++;
                }
            }
            if (choices == 0) {
                alert("請選擇選項再提交");
            }
            else {
                alert("提交成功");
            }
        }
    </script>
    {%endblock%}

</head>
<body>
{% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-light" role="alert">
    {{ message[1] }}
</div>
{% endfor %}

<form action="/search" method="post">
    <h2>地區搜尋</h2>
    <p></p>
    <label>縣市:</label>
    <input type="textbox" name="county">
    <label>鄉鎮市區:</label>
    <input type="textbox" name="township">
    <!--按鈕要加上name，方便後端判斷-->
    <a href="#checkBox">
        <input type="button" value="確定">
    </a>

    <h2>特殊疾病搜尋</h2>
    <p></p>
    <label>特殊疾病:</label>
    <input type="textbox" name="disease">
    <input type="submit" name="searchDisease" value="Search">

    <h2>醫院層級搜尋</h2>
    <p></p>
    <label>醫院層級:</label>
    <input type="checkbox" value="1" name="type" >醫學中心
    <input type="checkbox" value="2" name="type" >區域醫院
    <input type="checkbox" value="3" name="type" >地區醫院
    <input type="checkbox" value="4" name="type" >診所
    <a href="#checkBox">
        <input type="button" value="確定">
    </a>

    <h2>分類主題搜尋</h2>
    <p></p>
    <label>分類主題:</label>
    <input type="textbox" name="keyword1">
    <input type="textbox" name="keyword2">
    <input type="textbox" name="keyword3">
    <input type="submit" name="searchCategory" value="Search">

    <h2>醫院名稱搜尋</h2>
    <p></p>
    <label>醫院名稱:</label>
    <input type="textbox" name="name1">
    <input type="textbox" name="name2">
    <input type="textbox" name="name3">
    <a href="#checkBox">
        <input type="button" value="確定">
    </a>
<p></p>
<h1>aaa</h1><h1>bbb</h1><h1>ccc</h1><h1>ddd</h1><h1>eee</h1><h1>fff</h1>
    <div style=" display: inline-block;vertical-align: top;" id="checkBox">
        {% if scroll %}
        <script>
        document.location.hash = '#' + '{{ scroll }}';
        </script>
        {% endif %}
        <input type="checkbox" value="m.m_1" name="item" onclick="onCheckBox(this)">Blue
        <input type="checkbox" value="m.m_2" name="item" onclick="onCheckBox(this)">Yellow
        <input type="checkbox" value="m.m_3" name="item" onclick="onCheckBox(this)">Red
        <input type="checkbox" value="m.m_4" name="item" onclick="onCheckBox(this)">Green
        <input type="checkbox" value="m.m_5" name="item" onclick="onCheckBox(this)">Pink
        <input type="checkbox" value="m.m_6" name="item" onclick="onCheckBox(this)">Pink
        <input type="checkbox" value="m.m_7" name="item" onclick="onCheckBox(this)">Pink
        <input type="checkbox" value="m.m_8" name="item" onclick="onCheckBox(this)">Pink
    </div>
    <input type="submit" name="searchArea" value="A提交"  onclick="onSubmitVote()">
    <input type="submit" name="searchType" value="T提交"  onclick="onSubmitVote()">
    <input type="submit" name="searchName" value="N提交"  onclick="onSubmitVote()">

    <h2></h2>
    <div id="results">
        {% if scroll %}
        <script>
        document.location.hash = '#' + '{{ scroll }}';
</script>
        {% endif %}
        <table width="100%" border="1">
            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>

            {% for n, c in z %}
            <tr>
                <td>{{ n[0] }}</td>
                {% for i in range(ck_len) %}
                <td rowspan="4">{{ c[columns[i+1]] }}</td>
                {% endfor %}
            </tr>
            <tr>
                <td>{{ n[1] }}</td>
            </tr>
            <tr>
                <td>{{ n[2] }}</td>
            </tr>
            <tr>
                <td>{{ n[3] }}</td>
            </tr>
            {% endfor %}
        </table>

    </div>
</form>
</body>