<!DOCTYPE html>
<head>
    <title>Hello, World!</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</head>
<body>
{% for message in get_flashed_messages(with_categories=True) %}
<div class="alert alert-light" role="alert">
    {{ message[1] }}
</div>
{% endfor %}

<form action="/sort" method="post">

    <h2>分數排序</h2>
    <p></p>
    <label>分數排序:</label>
    <input type="textbox" name="index1">
    <input type="textbox" name="index2">
    <input type="textbox" name="index3">
    <input type="submit" name="sortValue" value="Sort">

    <h2></h2>
    <div id="results">
        {% if scroll %}
        <script>document.location.hash = '#' + '{{ scroll }}';</script>
        {% endif %}
        <table width="100%" border="1">

            <select name="index">
                <option selected>請選擇排序</option>
                {% for index in indexes %}
                <option value={{index}}&{{sqlstr}}>{{ index }}</option>
                {% endfor %}
            </select>
            <input type="submit" name="reSort" value="Sort">

            <tr>
                {% for column in columns %}
                <th>{{ column }}</th>
                {% endfor %}
            </tr>

            {% for a in context %}
            <tr>
                {% for i in range(long)%}
                <td>{{ a[columns[i]] }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>

    </div>
</form>
</body>