<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        .td{
        algin:"center";
        }
    </style>
</head>
<body>
<table width="70%" border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>type</th>
        <th>address</th>
    </tr>

    {% for a in context %}
        <tr>
            <td>{{ a.id }}</td>
            <td>{{ a.name }}</td>
            <td>{{ a.type }}</td>
            <td>{{ a.address }}</td>
        </tr>
    {% endfor %}

</table>
</body>
</html>